[submodule "knowledgebases/lm_theory"]
	path = knowledgebases/lm_theory
	url = https://github.com/SL2000s/lm_theory.git
[submodule "iipa_backend"]
	path = iipa_backend
	url = https://github.com/SL2000s/iipa_backend.git
[submodule "iipa_frontend"]
	path = iipa_frontend
	url = https://github.com/SL2000s/iipa_frontend.git
